<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tsdm.angelanime">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".start.StartActivity"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".detail.AnimationDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="stateUnchanged"/>
        <activity android:name=".introduction.IntroductionActivity"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"/>
        <activity android:name=".search.SearchActivity"
            android:configChanges="layoutDirection|locale"
            android:screenOrientation="portrait"/>

        <service android:name=".service.DownloadService"/>
    </application>

</manifest>